# Volumes default to the current directory, so you can use relative paths.
# You can set this if you want to modify the default path for volumes.
# In most cases you can leave this empty.
CONFIG_PREFIX=

# Ollama URL
# By default, it uses the dockererized Ollama available in the stack.
OLLAMA_BASE_URLS=http://ollama:11434

# This is the master key for LiteLLM, which is used to secure your API keys.
LITELLM_MASTER_KEY=sk-1234

# This is your OpenAI API key. You can get it from your OpenAI account.
OPENAI_API_KEY=<your_openai_api_key>



