##### Keys #####
# This is your OpenAI API key. Need only for openai models setup in your litellm confif
OPENAI_API_KEY=<your_openai_api_key>

# This is the master key for LiteLLM, which is used to secure your API access.
# This is a random key and not one provide to you.  It must start with "sk-"  eg. sk-1234
# Use a key generator site - https://generate-random.org/api-key-generator
LITELLM_MASTER_KEY=<your_generated_litellm_api_key>

###### App Config #######
# Ollama URL - No Need to change
# By default, it uses the dockererized LiteLLM  available in the stack. Leaving as is will work out fo t>
OLLAMA_BASE_URL=http://ollama:11434

# LiteLLM URL - No Need to change
# By default, it uses the dockererized LiteLLM available in the stack. Leaving as is will work out fo the box
LITELLM_BASE_URL=http://litellm:4000

# Open Web UI config - No need to change      
OPENAI_API_BASE_URLS: ${LITELLM_BASE_URL}/v1
OPENAI_API_KEYS: ${LITELLM_MASTER_KEY}
